---
// Component imports
import { Layout } from '@globals'
---

<Layout title="PWA Starter Template">
    <main
        class="text-center mx-2 flex flex-col xl:flex-row items-center px-2 py-4"
    >
        <h1>PWA Starter Template</h1>
    </main>
</Layout>
