---
// Component imports
import { Layout } from '@globals'
---

<Layout title='PWA Starter Template'>
  <main
    class='mx-2 flex h-[100dvh] flex-col items-center justify-center px-10 py-12 text-center text-lg font-semibold text-pink-100'
  >
    <section>
      <h1 class='m-2 text-4xl' id='title'>LUMINA</h1>
      <h2>PWA Starter Template</h2>
    </section>
    <footer class='fixed bottom-0 w-full py-1 text-sm'>
      Highly inspired by: <a
        href='https://github.com/shaunchander/astro-pwa-starter'
        target='_blank'
        rel='noopener'
        class='underline'>Astro PWA Starter Template</a
      >
    </footer>
  </main>
</Layout>
