---
// Component imports
import { Layout } from '@globals'
---

<Layout title='PWA Starter Template'>
  <main
    class='mx-2 flex flex-col items-center px-2 py-4 text-center font-mono text-lg font-semibold'
  >
    <h1>
      PWA Starter Template by
      <a
        href='https://jamerrq.deno.dev'
        target='_blank'
        rel='noopener noreferrer'
      >
        @jamerrq
      </a>
    </h1>
    <br />
    <span>
      Highly inspired by this template:
      <a
        href='https://github.com/shaunchander/astro-pwa-starter'
        target='_blank'
        rel='noopener noreferrer'
      >
        Astro PWA Starter
      </a>
      plus prettier and vscode settings
    </span>
  </main>
</Layout>
