---
// Component imports
import { Layout } from '@globals'
---

<Layout title='PWA Starter Template'>
  <main
    class='mx-2 flex h-[100dvh] flex-col items-center justify-center px-10 py-12 text-center text-lg font-semibold'
  >
    <section class='text-black'>
      <h1 class='m-2 text-4xl' id='title'>LUMINA</h1>
      <h2>Minimalist Astro PWA Starter Template</h2>
      <h3 class='text-base text-teal-700'>React Version</h3>
    </section>
    <footer
      class='fixed bottom-0 h-[30px] w-full bg-black px-2 py-1 text-right text-sm text-white'
    >
      <span data-dev={import.meta.env.DEV} class='data-[dev]:hidden md:block'>
        Highly inspired by: <a
          href='https://github.com/shaunchander/astro-pwa-starter'
          target='_blank'
          rel='noopener'
          class='underline'>Astro PWA Starter Template</a
        >
      </span>
      <section
        class='absolute bottom-0.5 left-1 flex items-center justify-center'
      >
        <a
          href='https://github.com/jamerrq/lumina'
          target='_blank'
          rel='noopener'
        >
          <span
            class='me-2 inline-flex items-center rounded bg-gray-700 px-2.5 py-0.5 text-xs font-bold text-gray-100 hover:bg-gray-500'
          >
            <svg
              class='mr-1 h-4 w-4 text-gray-800 dark:text-white'
              aria-hidden='true'
              xmlns='http://www.w3.org/2000/svg'
              fill='currentColor'
              viewBox='0 0 24 24'
            >
              <path
                fill-rule='evenodd'
                d='M12 2c-2.4 0-4.7.9-6.5 2.4a10.5 10.5 0 0 0-2 13.1A10 10 0 0 0 8.7 22c.5 0 .7-.2.7-.5v-2c-2.8.7-3.4-1.1-3.4-1.1-.1-.6-.5-1.2-1-1.5-1-.7 0-.7 0-.7a2 2 0 0 1 1.5 1.1 2.2 2.2 0 0 0 1.3 1 2 2 0 0 0 1.6-.1c0-.6.3-1 .7-1.4-2.2-.3-4.6-1.2-4.6-5 0-1.1.4-2 1-2.8a4 4 0 0 1 .2-2.7s.8-.3 2.7 1c1.6-.5 3.4-.5 5 0 2-1.3 2.8-1 2.8-1 .3.8.4 1.8 0 2.7a4 4 0 0 1 1 2.7c0 4-2.3 4.8-4.5 5a2.5 2.5 0 0 1 .7 2v2.8c0 .3.2.6.7.5a10 10 0 0 0 5.4-4.4 10.5 10.5 0 0 0-2.1-13.2A9.8 9.8 0 0 0 12 2Z'
                clip-rule='evenodd'></path>
            </svg>
            source
          </span>
        </a>
        <a
          href='https://lumina-sigma.vercel.app/'
          target='_blank'
          rel='noopener'
        >
          <span
            class='me-2 inline-flex items-center rounded bg-teal-700 px-2 py-0.5 text-xs font-bold text-teal-100 hover:bg-teal-500'
          >
            <svg
              class='h-4 w-4 text-gray-800 dark:text-white'
              aria-hidden='true'
              xmlns='http://www.w3.org/2000/svg'
              fill='currentColor'
              viewBox='0 0 24 24'
            >
              <path
                d='M11.8 5.7A4.8 4.8 0 0 0 7 10a3.4 3.4 0 0 1 2.7-1.7c1.7 0 3 2 3.8 2.6a5.7 5.7 0 0 0 5.4 1c2-.7 2.9-3 3.1-4-1 1.4-2.4 2.2-4.3 1.2-1.2-.6-2.1-3.4-6-3.3Zm-5 6.3A4.8 4.8 0 0 0 2 16.2a3.4 3.4 0 0 1 2.7-1.7c1.7 0 3 2 3.8 2.6a5.7 5.7 0 0 0 5.4.9c2-.7 3-2.9 3.1-4-1 1.4-2.4 2.3-4.2 1.3-1.3-.7-2.2-3.4-6-3.3Z'
              ></path>
            </svg>
            classic
          </span>
        </a>
      </section>
    </footer>
  </main>
</Layout>
